<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jobssystem</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="dataAccessObjects/domain/Login.hbm.xml"/>
    <mapping resource="dataAccessObjects/domain/OffererFeature.hbm.xml"/>
    <mapping resource="dataAccessObjects/domain/PositionFeature.hbm.xml"/>
    <mapping resource="dataAccessObjects/domain/Feature.hbm.xml"/>
    <mapping resource="dataAccessObjects/domain/Offerer.hbm.xml"/>
    <mapping resource="dataAccessObjects/domain/Company.hbm.xml"/>
    <mapping resource="dataAccessObjects/domain/Position.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
